@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}

@layer components {
  .btn-brilliant {
    @apply  group-hover:bg-white-alternative/80 transition-all duration-500;
  }
}

@layer base {
  @font-face {
    font-family: 'Satoshi';
    src:
      url('/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
      url('/fonts/satoshi/Satoshi-Variable.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Satoshi';
    src:
      url('/fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
      url('/fonts/satoshi/Satoshi-VariableItalic.woff') format('woff');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }


}
